<div id="wrapper">
	<div class="players-section">
		<div class="player" *ngFor="let playerStateElement of currentPlayerStateElements.slice(0, 2)">
			<app-player [player]="playerStateElement"></app-player>
		</div>
	</div>
	<div id="game-section">
		Game section
	</div>
	<div class="players-section" *ngIf="numOfPlayers > 2">
		<div class="player" *ngFor="let playerStateElement of currentPlayerStateElements.slice(2, currentPlayerStateElements.length)">
			<app-player [player]="playerStateElement"></app-player>
		</div>
	</div>
</div>