#wrapper {
	display: flex;
    flex-direction: row;
	width: 100%;
	height: 100%;
}
#game-section {
	width: 640px;
}
.players-section {
	width: 640px;
}
.player {
	height: 200px;
}
/* .card-image {
	width: 100%;
} */
img {
	height: 50px;
}
